/* Universal Styling */

body {
    text-align: center;
    width: 100%;
    color: #c0fcc3;
    background-color: #111211;
}

/* Header Styling */

header {
    padding: 3rem 1.5rem;
}

h1 {
    font-weight: 300;
}

/* Main Styling */

main {
    padding: 3rem 1.5rem;
    align-content: center;
}

button {
    border: 1px solid #c0fcc3;
    background-color: #c0fcc3;
    color: #111211;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}

button:hover {
    background-color: #111211;
    color: #c0fcc3;
    border: 1px solid #c0fcc3;
}

.team, .transfers, .mission {
    box-sizing: border-box;
    border: 2px solid #c0fcc3;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 2rem auto;
    width: 30%;
    min-width: 14.463125rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.padding {
    padding-top: 0.5rem;
}

/* Footer Styling */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 300;
}

@media only screen and (max-device-width: 480px) {
    header {
        padding: 3rem 1.5rem 1.5rem 1.5rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    main {
        padding: 1.5rem;
    }

    .team, .transfers, .mission {
        padding: 1rem 2rem;
        margin: 1.5rem auto;
    }

    .padding {
        padding-top: 0.2rem;
    }

    footer {
        display: none;
    }

}